<strong>Olá, {{deliveryman}}</strong>
<p>Houve um cancelamento de entrega no {{ date }}, confira os detalhes abaixo</p>
<p>
  <strong>Código: </strong> {{ delivery_id }} <br />
  <strong>Mercadoria: </strong> {{ product }} <br />

</p>
