<strong>Olá, {{deliveryman}}</strong>
<p>Você tem uma nova mercadoria disponivel para retirada a partir do {{ date }}</p>
<p>
  <strong>Código: </strong> {{ delivery_id }} <br />
  <strong>Mercadoria: </strong> {{ product }} <br />
</p>

<small>Horário disponivel para retirada é de seg a sex 8:00 ás 18:00</small>
